{% extends 'base.html' %}
{% load static %}

{% block content %}

<section class="latest-posts">
    <div class="container">
        <header>
            <h1>This is the search Reasult</h1>
        </header>
        <div class="row">
            {% for obj in object_list %}
            <div class="post col-md-4">
                <div class="post-thumbnail"><a href=""><img src="{{obj.image.url}}" width="640" height="450" alt="..."
                                                            class="img-fluid"></a></div>
                <div class="post-details">
                    <div class="post-meta d-flex justify-content-between">
                        {% for cat in obj.category.all %}
                        <div class="category"><a href="#">{{cat.title}}</a></div>
                        {% endfor %}
                    </div>
                    <a href="post.html">
                        <h3 class="h4">{{obj.title}}</h3></a>
                    <p class="text-muted"> {{obj.description|truncatewords:15}}</p>

                </div>

            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}