{% load static %}
<aside class="col-lg-4">
    <div class="widget search">
        <header>
            <h3 class="h6">Search the blog</h3>
        </header>
        <form action="{% url 'search' %}" class="search-form">
            <div class="form-group">
                <input type="search" name="q" placeholder="What are you looking for?">
                <button type="submit" class="submit"><i class="icon-search"></i></button>
            </div>
        </form>
    </div>
    <!-- Widget [Categories Widget]-->
    <div class="widget categories">
        <header>
            <h3 class="h6">Categories</h3>
        </header>
        {% for cat in object_list %}
        <div class="item d-flex justify-content-between"><a href="#">{{cat.title.dis}}</a><span></span></div>
        {% endfor %}
    </div>
</aside>